<!DOCTYPE html>
<html>
  <head>
    <title>ChatApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  
  <% if !flash[:notice].blank? %>
    <div class="notice">
     <%= flash[:notice] %>
    </div>
  <% end %>

  <% if !flash[:error].blank? %>
    <div class="error" style="color:red;">
     <%= flash[:error] %>
    </div>
  <% end %>

    <%= yield %>
  </body>
</html>
